body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header {
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 669px;
    margin-top: 0%;

    background-position: center;


}

.header-child {
    justify-content: center;
    text-align: center;
    padding: 174px 307px 175px 307px;

}

.header-child h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;

}

.header-child p {
    color: #FFFFFF;
}

.donate-button {
    text-decoration: none;
    padding: 5px 7px;
    border: 1px solid #FF5959;
    background-color: #FF5959;
    color: #FFFFFF;
    border-radius: 5px;

}

.donate-today {
    justify-content: center;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.donate-today h1 {
    font-weight: 700;
    font-size: 45px;
}

.amount-box {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 45px;

}

.amount-box-child {
    border: 2px solid #b4b3b3;
    border-radius: 5px;
    width: 135px;
    height: 123px;
    margin-right: 22px;
    background-color: #e9e5e5;
}

#amount-box-child {
    border: 2px solid #FF5959;
    background-color: #fa8f8f;
    border-radius: 5px;
    width: 135px;
    height: 123px;
    margin-right: 22px;

}

.amount-box h3 {
    padding: 23px 23px 44px 23px;
}

hr {
    width: 765px;
    margin-bottom: 30px;

    background-color: #DADADA;
}

.donate-plan {
    margin-bottom: 130px;
}

.donate-title {
    text-align: center;
}

.donate-title h1 {
    font-size: 45px;
    font-weight: 700;
}

.donate-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.donate-box-child {
    border: 1px solid rgb(34, 33, 33);
    width: 360px;
    height: 352px;
    border-radius: 5px;
    margin-right: 24px;
}

.donate-box-child img {
    margin-top: 63px;
    margin-left: 23px;

}

.donate-box-child div {
    margin-left: 23px;
}

#box1 {
    background-color: rgba(79, 157, 166, 0.1);

}

#box2 {
    background-color: rgba(255, 89, 89, 0.1);
}

#box3 {
    background-color: rgba(154, 163, 57, 0.1);
    ;
}

#record-title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;

}

.record {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 104, 50);
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 50px;

}

.update-title {
    text-align: center;
}

.update-title h1 {
    font-weight: 700;
    font-size: 45px;
}

.update-box {
    border: 1px solid #FFF4D6;
    background-color: #FFF4D6;
    width: 809px;
    height: 200px;
    margin: 50px 315px 107px 315px;
}

.update-box-inside {

    display: flex;
    justify-content: center;
    align-items: center;

}

.update-box-inside p {
    height: 48px;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 275px;
    margin-top: 70px;
    padding-top: 12px;
    padding-left: 11px;


}

.update-box-inside a {
    height: 48px;
    border: 1px solid #FF5959;
    background-color: #FF5959;
    width: 157px;
    text-decoration: none;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 54px;
    padding-top: 12px;
    padding-left: 11px;

}

.footer {
    background-color: #0B0D17;
    height: 177px;
}

.footer h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-size: 36px;
    font-weight: 400;
    padding-top: 43px;
}

.footer p {
    color: #D9DBE1;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}